- if user_signed_in?
  %p#intro
    Hello
    = current_user.name
    %br/
    %span
      Share your Inspiration and see what's inspiring others.
- else
  %p#intro
    What'is your muse?
    %br/
    %span
      Share your Inspiration and see what's inspiring others.

#posts
  - @posts.each do |p|
    .post
      .post_image
        = link_to (image_tag p.image.url(:small)), p
      .post_content
        .title
          %h2=  link_to p.title, p
        .data.clearfix
          %p.username
            Shared by
            = p.user.name
          %p.button
            %span
              %i.fa.fa-comments-o
              = p.comments.count
            %span
              %i.fa.fa-thumbs-o-up
              = p.get_likes.size
