#post_show
  %h1= @post.title
  %p.username
    Share by
    = @post.user.name
    about
    = time_ago_in_words(@post.created_at)
  .clearfix
    .post_image_description
      = image_tag @post.image.url(:medium)
      .descritption= simple_format(@post.description)
    .post_data
      = link_to "Visit Link", @post.link, class: "button"
      = link_to like_post_path(@post), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-up
        = pluralize(@post.get_upvotes.size, "Like")
      = link_to like_post_path(@post), method: :get, class: "data" do
        %i.fa.fa-thumbs-o-down
        = pluralize(@post.get_downvotes.size, "DisLike")
      %p.data
        %i.fa.fa-comments-o
        = pluralize(@post.comments.count, "Comment")
      - if @post.user == current_user
        = link_to "Edit", edit_post_path(@post), class: "data"
        = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure"}, class: "data"
    #random_post
      %h3 Random Inspiration
      .post
        .post_image
          = link_to (image_tag @random_post.image.url(:small)), post_path(@random_post)
        .post_content
          .title
            %h2= link_to @random_post.title, post_path(@random_post)
          .data.clearfix
            Shared by
            = @random_post.user.name
          %p.buttons
            %span
            %i.fa.fa-comments-o
            = @random_post.comments.count
            = @random_post.get_likes.size

#comments
  %h2.comment_count= pluralize(@post.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content
= render 'comments/form'
