!!!
%html
%head
  %title Muse
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application'
  %link{ :rel => 'stylesheet', :href => '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'}
  %link{ :rel => 'stylesheet', :href => 'path/to/font-awesome/css/font-awesome.min.css'}
%body
  %header
    .wrapper.clearfix
      #logo= link_to "Muse", root_path
      %nav
        - if user_signed_in?
          = link_to current_user.name, edit_user_registration_path
          = link_to "Add New Inspiration", new_post_path, class: "button"
        - else
          = link_to "Sign In", new_user_session_path
          = link_to "Sign Up", new_user_registration_path, class: "button"
  %p.notice= notice
  %p.alert= alert

  .wrapper
    = yield
